@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy|Ubuntu&display=swap");

:root {
    --white: #ffffff ;
    --greyWhite: #e1e1e0 ;
    --black: #000000 ;
    --borderBlack: #131313 ;
    --grey22: #222222 ;
    --blackScreen: #232323 ;
    --redLight: #ec667d ;
    --redPrimary: #dc0a2d ;
    --redBtn: #b1001d ;
    --redShadow: #810016 ;
    --jauneLight: #fff7b1 ;
    --jauneBtn: #ddc700 ;
    --vertBtn: #66ad73 ;
    --greenScreen: #51ae5e ;
    --blueLight: #97d7ff ;
    --blueBtn: #29acff ;
    --blueDark: #00263d ;
}

* {
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box ;
}

/*  HTML */

html {
    font-size: 50% ;
}

/* Body */

main {
    font-size: 1.4rem ;
    font-family: "Ubuntu", sans-serif ;
    background-repeat: no-repeat ;
    background-position: center ;
    background-size: cover ;
    color: var(--white) ;
    height: 100vh ;
    width: 100vw ;
    max-width: 100vw ;
    overflow: auto ;
}

/* Pokedex */

#bgOverlay {
    position: absolute ;
    top: 0 ;
    left: 0 ;
    height: 100% ;
    width: 100% ;
    background-color: rgba(0, 0, 0, 0.5) ;
    z-index: -1 ;
}

#pokedex {
    display: grid ;
    height: 40rem ;
    width: 63rem ;
    background-color: transparent ;
    grid-template-columns: 33rem 30rem ;
    border-radius: 0.5rem ;
    margin: auto ;
    margin-top: 2em ;
}

/* Buttons */
.btn {
    border-radius: 50% ;
    position: relative ;
    border: 1px solid var(--grey22) ;
}

.btn::after {
    position: absolute ;
    content: "" ;
    border-radius: 50% ;
    width: 60% ;
    height: 60% ;
    background-color: inherit ;
    filter: brightness(200%) opacity(0.4) ;
    top: 50% ;
    left: 50% ;
    transform: translate(-50%, -50%) ;
}

.btn.small {
    width: 0.8rem ;
    height: 0.8rem ;
}

.btn.medium {
    width: 1.2rem ;
    height: 1.2rem ;
}

.btn.large {
    width: 3rem ;
    height: 3rem ;
}

.btn.huge {
    width: 6rem ;
    height: 6rem ;
}

.blueBtn {
    background-color: var(--blueBtn) ;
}
.redBtn {
    background-color: var(--redBtn) ;
}
.jauneBtn {
    background-color: var(--jauneBtn) ;
    padding: 1em ;
}
.vertBtn {
    background-color: var(--vertBtn) ;
}
.noirBtn {
    background-color: var(--grey22) ;
}

.longBtn {
    height: 0.6rem ;
    width: 3.5rem ;
    border-radius: 1rem ;
    border: 1px solid var(--grey22) ;
}

.title {
    font-family: "Luckiest guy", sans-serif ;
}

.title-1 {
    font-size: 5rem ;
    background-image: linear-gradient(
        transparent 0,
        transparent 70%,
        var(--redLight) 70%,
        var(--redLight) 90%,
        transparent 90%
    ) ;
    padding: 0 2rem ;
    margin-bottom: 3rem ;
    text-shadow: 0 0 2rem rgba(0, 0, 0, 0.5) ;
}

.title-4 {
    font-family: "Ubuntu", sans-serif ;
    font-size: 1.2rem ;
    text-transform: uppercase ;
}

.left-top-wrapper {
    filter: drop-shadow( 0px 8px 0px var(--redShadow) ) ;
}

.left-top {
    border-radius: 5px 5px 0 0 ;
    height: 10rem ;
    width: 33rem ;
    background-color: var(--redPrimary) ;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 5rem,
        19.5rem 5rem,
        13.5rem 100%,
        0 100%
    ) ;
    z-index: 5 ;
    border-right: 1px solid var(--grey22) ;
    border-top: 1px solid var(--grey22) ;
    border-left: 1px solid var(--grey22) ;
    display: flex ;
    align-items: center ;
}

.blueBtn.btn.huge {
    margin-left: 2rem ;
    border: none ;
    display: flex ;
    align-items: center ;
    justify-content: center ;
}

.blueBtn.btn.huge.active {
    animation: illuminate 0.5s forwards ease ;
}

.blueBtn.btn.huge::before {
    content: "" ;
    position: absolute ;
    border-radius: 50% ;
    width: 6.75rem ;
    height: 6.75rem ;
    background-color: var(--greyWhite) ;
    top: 50% ;
    left: 50% ;
    transform: translate(-50%, -50%) ;
    z-index: -1 ;
    border: 1px solid var(--grey22) ;
}

@keyframes illuminate {
    0% {
        background-color: var(--blueLight) ;
    }
    20% {
        background-color: var(--blueDark) ;
    }
    35% {
        background-color: var(--blueLight) ;
    }
    50% {
        background-color: var(--blueDark) ;
    }
    65% {
        background-color: var(--blueLight) ;
    }
    100% {
        background-color: var(--blueBtn) ;
    }
}

.left-top .btn.medium {
    margin-left: 1rem ;
    margin-top: 1.7rem ;
    align-self: flex-start ;
}

.left {
    grid-column: 1/2 ;
    background-color: transparent ;
    border-radius: 5px ;
    display: flex ;
    position: relative ;
}

.left-main {
    height: 100% ;
    width: 30rem ;
    border-radius: 5px 5px 3px 5px ;
    background-color: var(--redPrimary) ;
    box-shadow: inset 4px -4px 0 rgb(168, 0, 28) ;
    border-right: none ;
}

.left-screen {
    height: 21rem ;
    padding: 2rem 3.5rem 2rem 3.5rem ;
}

.screen-border-grey {
    height: 100% ;
    width: 100% ;
    background-color: var(--greyWhite) ;
    border-radius: 3px ;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 8% 100%, 0 90%) ;
    display: grid ;
    grid-template-rows: 10% 1fr 15% ;
    grid-template-columns: 1fr ;
    padding: 0 3rem ;
    justify-items: center ;
    align-items: center ;
    grid-gap: 0.5rem 0 ;
}

.screen-top-btn {
    grid-row: 1/2 ;
    grid-column: 1/-1 ;
    display: flex ;
    justify-content: center ;
    align-items: center ;
    padding-top: 0.5rem ;
}

div.redBtn.btn.small:nth-of-type(2) {
    margin-left: 2rem ;
}

.screen-black {
    grid-row: 2/3 ;
    background-color: var(--blackScreen) ;
    border-radius: 3px ;
    width: 100% ;
    height: 100% ;
    display: flex ;
    justify-content: center ;
}

#image {
    height: 100% ;
    margin: 0 auto ;
}

.screen-bottom-btn {
    width: 100% ;
    grid-row: 3/4 ;
    padding-bottom: 0.5rem ;
    display: flex ;
    justify-content: space-between ;
    align-items: center ;
}

.screen-bottom-btn .burger {
    height: 100% ;
    width: 1.8rem ;
}

.screen-bottom-btn .burger span {
    display: block ;
    height: 0.2rem ;
    width: 1.8rem ;
    margin-bottom: 0.2rem ;
    background-color: #5e5e5e ;
}

.left-commands {
    border-radius: 0 0 3px 5px ;
    height: 9rem ;
    display: flex;
    justify-content: space-between ;
    padding: 0 2.5rem 2rem 2.5rem ;
}

.noirBtn.btn.large::after {
    display: none ;
}

.commands-central {
    width: 40% ;
    display: grid ;
    grid-template-rows: 20% 1fr ;
    margin-left: 1.5rem ;
}

.commands-central .longBtn {
    grid-row: 1/2 ;
}

.commands-central .longBtn:nth-of-type(2) {
    margin-left: auto ;
}

.greenScreen.medlargeScreen {
    grid-column: 1/3 ;
    background-color: var(--greenScreen) ;
    width: 100% ;
    height: 80% ;
    border-radius: 3px ;
    border: 1px solid var(--grey22) ;
    display: flex ;
    align-items: center ;
    justify-content: center ;
    color: var(--grey22) ;
}

#name {
    padding: 0.5rem 0 ;
    text-align: center ;
}

.croix {
    background-color: var(--grey22) ;
    width: 6rem ;
    height: 6rem ;
    clip-path: polygon(
        2rem 0,
        4rem 0,
        4rem 2rem,
        6rem 2rem,
        6rem 4rem,
        4rem 4rem,
        4rem 6rem,
        2rem 6rem,
        2rem 4rem,
        0 4rem,
        0 2rem,
        2rem 2rem,
        2rem 0
    ) ;
    position: relative ;
}

.croix::after {
    content: "" ;
    position: absolute ;
    top: 50% ;
    left: 50% ;
    transform: translate(-50%, -50%) ;
    width: 1rem ;
    height: 1rem ;
    border: 1px solid var(--borderBlack) ;
    border-radius: 50% ;
}

.central-cylinder {
    width: 3rem ;
    height: 35rem ;
    align-self: flex-end ;
    z-index: 10 ;
    border-radius: 0 0px 3px 3px ;
    background-image: linear-gradient(
        to right,
        var(--redPrimary) 34%,
        var(--redLight) 70%,
        var(--redPrimary)
    ) ;
    border: 1px solid var(--redShadow) ;
    display: flex ;
    flex-direction: column ;
    justify-content: center ;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3) ;
}

.cynlinder-central-block {
    height: 28rem ;
    border-top: 2px solid var(--grey22) ;
    border-bottom: 2px solid var(--grey22) ;
}

.right-wrapper {
    grid-column: 2/3 ;
    background-color: var(--redShadow) ;
    height: 35rem ;
    align-self: flex-end ;
    clip-path: polygon(
        0 0,
        10.5rem 0,
        16.5rem 5rem,
        100% 5rem,
        100% 100%,
        0 100%
    ) ;
    display: flex ;
    align-items: center ;
    justify-content: center ;
}

.right {
    width: 100% ;
    height: 100% ;
    transform: scale(0.96) ;
    background-color: var(--redPrimary) ;
    clip-path: polygon(
        0 0,
        10.5rem 0,
        16.5rem 5rem,
        100% 5rem,
        100% 100%,
        0 100%
    ) ;
    border-radius: 0 0 5px 3px ;
    display: grid ;
    grid-template-columns: repeat(2, 1fr) ;
    grid-template-rows: repeat(auto, max-content) ;
    grid-gap: 1rem 2rem ;
    padding: 7rem 3.5rem 2rem 3.5rem ;
}

.blackScreen.largeScreen {
    background-color: var(--blackScreen) ;
    border-radius: 3px ;
    height: 9rem ;
    grid-column: 1/-1 ;
    padding: 1rem 2rem ;
    color: var(--greyWhite) ;
    display: grid ;
    grid-template-columns: 40% 1fr ;
    grid-template-rows: 1fr 1fr 1fr ;
    align-items: center ;
}

#index {
    font-size: 2rem ;
    font-weight: bold ;
}
#typeBubbleDiv {
    grid-column: 2/3 ;
    grid-row: 1/2 ;
    display: flex ;
    align-items: flex-end ;
}
.typeBubble {
    width: 3rem ;
    height: 1rem ;
    border-radius: 30px ;
}
#bubble2 {
    margin-left: 0.5rem ;
}

#type {
    grid-row: 2/3 ;
    grid-column: 2/3 ;
    text-transform: capitalize ;
}

.gridBtn.blueGrid {
    grid-column: 1/-1 ;
    height: 4rem ;
    border-radius: 3px ;
    border: 1px solid var(--grey22) ;
    box-shadow: 0 1px 1px var(--grey22) ;
    display: grid ;
    grid-template-columns: repeat(5, 1fr) ;
    grid-template-rows: 1fr 1fr ;
}

.gridCell {
    background-color: var(--blueBtn) ;
    border-right: 1px solid var(--grey22) ;
}

.gridCell:nth-of-type(1),
.gridCell:nth-of-type(2),
.gridCell:nth-of-type(3),
.gridCell:nth-of-type(4),
.gridCell:nth-of-type(5) {
    border-bottom: 1px solid var(--grey22) ;
}

.gridCell:nth-of-type(5),
.gridCell:nth-of-type(10) {
    border-right: 0px ;
}

.longBtnRight {
    grid-column: 2/3 ;
    grid-row: 3/4 ;
    justify-self: self-end ;
}

.longBtnRight .longBtn.noirBtn {
    display: inline-block ;
}

.gridBtn.whiteGrid {
    grid-column: 1/2 ;
    grid-row: 4/5 ;
    width: 6rem ;
    height: 3rem ;
    position: relative ;
}

.gridBtn.whiteGrid .gridCell {
    background-color: var(--greyWhite) ;
    z-index: 2 ;
}

#inputIndex {
    border: none ;
    outline: none ;
    width: 100% ;
    height: 100% ;
    background-color: var(--greyWhite) ;
    border: 1px solid var(--grey22) ;
    box-shadow: 0 2px 1px var(--grey22) ;
    padding: 0 1rem ;
    transition: all 0.3s ;
}

#labelInputIndex {
    font-size: 1.1rem ;
    position: absolute ;
    top: 0 ;
    left: 0 ;
    width: 15rem ;
    opacity: 0 ;
    visibility: hidden ;
    z-index: -1 ;
    transition: all 0.2s ;
}

.gridBtn.whiteGrid #inputIndex:hover {
    width: 15rem ;
}

.gridBtn.whiteGrid #inputIndex:focus + #labelInputIndex {
    transform: translateY(-1.5rem) ;
    opacity: 1 ;
    visibility: visible ;
}

.gridBtn.whiteGrid .gridCell:nth-of-type(2) {
    border: 1px solid var(--grey22) ;
    border-bottom: 0px ;
    border-left: 0px ;
}

.jauneBtn.btn.large {
    grid-column: 2/3 ;
    grid-row: 4/5 ;
    justify-self: self-end ;
    transition: all 0.2s ;
}

.jauneBtn.btn.large:hover {
    cursor: pointer ;
    transform: translateY(-0.2rem) ;
}

.jauneBtn.btn.large.active {
    animation: yellowLight 1s infinite ;
}

@keyframes yellowLight {
    0% {
        background-color: var(--jauneBtn) ;
    }
    50% {
        background-color: var(--jauneLight) ;
    }
    1000% {
        background-color: var(--jauneBtn) ;
    }
}

.noirScreen.mediumScreen {
    grid-row: 5/6 ;
    grid-column: 1/-1;
    width: 100% ;
    height: 3rem ;
    background-color: var(--blackScreen) ;
    border-radius: 3px ;
    display: flex ;
    justify-content: center ;
    align-items: center ;
    color: var(--greyWhite) ;
    cursor: pointer ;
    transition: all 0.2s ;
}

.noirScreen.mediumScreen:hover {
    transform: translateY(-0.2rem) ;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) ;
    }
    100% {
        transform: rotate(1080deg) ;
    }
}

/* Form */

form {
    display: flex ;
    gap: 1em ;
}

input {
    padding: 10px ;
}

/* Favorites */

#return-button {
    background-color: var(--blueDark) ;
    padding: 1em ;
    border-radius: 5px ;
    margin: 1em ;
    color: #FFF ;
    cursor: pointer ;
}

#favorites {
    text-align: center ;
}

.favorites {
    display: grid ;
    grid-template-columns: repeat( auto-fit, minmax( 320px, 1fr ) ) ;
}

/* Poke Card */

.poke-card {
    position: relative ;
    height: fit-content ;
    font-family: 'Roboto Mono', monospace ;
    max-width: 300px ;
    border-radius: 4px ;
    color: rgb(5, 19, 95) ;
    text-align: center ;
    padding: 10px ;
    margin: 1em ;
    background-color: rgb(233, 84, 84) ;
    border: 1px solid black ;
}

.poke-card::before {
    content: "" ;
    background: radial-gradient(blue 33%, transparent 33%) ;
    background-size: 3px 3px ;
    border-radius: 4px ;
    height: 100% ;
    width: 100% ;
    position: absolute ;
    left: 10px ;
    top: 10px ;
    z-index: -1 ;
}

.img-container {
    position: relative ;
    width: 180px ;
    margin: 10px auto ;
}

.poke-stats div {
    display: flex ;
    justify-content: space-between ;
    align-content: space-between ;
    padding: 5px ;
    font-size: 18px ;
}

.poke-types div {
    padding: 5px ;
    margin: 5px ;
    border-radius: 4px ;
    border: 1px dashed black ;
}

.poke-img {
    width: 180px ;
    border-radius: 50% ;
}

.heart {
    margin: 0 auto ;
    width: 100px ;
    height: 100px ;
    background: url( "https://cssanimation.rocks/images/posts/steps/heart.png" ) no-repeat ;
    background-position: 0 0 ;
    cursor: pointer ;
    transition: background-position 1s steps( 28 ) ;
    transition-duration: 0s ;
    padding: 0 ;
  }

.is-active {
    transition-duration: 1s ;
    background-position: -2800px 0 ;
}

.not-found {
    background: #FFF ;
}

/* Media Queries  */

@media screen and ( max-width: 740px ) {
    html {
        font-size: 60% ;
    }
    .title-1 {
        font-size: 4rem ;
    }
    body {
        justify-content: flex-start ;
        padding: 1rem ;
        height: 100% ;
        min-height: 100vh ;
        background-image: none ;
        overflow-y: scroll ;
        background-image: linear-gradient(
            to right,
            #4facfe 0%,
            #00f2fe 100%
        ) !important ;
    }
    #pokedex {
        width: auto ;
        display: grid ;
        grid-column: min-content ;
        grid-template-columns: min-content ;
        justify-content: center ;
        grid-template-rows: max-content max-content ;
    }
    #pokedex > *:nth-child( 1 ) {
        grid-row: 1 ;
        grid-column: 1 ;
    }
    #pokedex > *:nth-child( 2 ) {
        grid-row: 2 ;
        grid-column: 1 ;
    }
    .right-wrapper {
        grid-row: 2/3 ;
        grid-column: 1/2 ;
        transform: translateY( -5.5rem ) ;
        z-index: 1 ;
    }

    .left {
        z-index: 2 ;
    }

    .pokeball,
    .socialBg {
        top: 6rem ;
        right: 1rem ;
        bottom: unset ;
    }
}

@media screen and ( max-width: 570px ) {
    .title-1 {
        font-size: 2.5rem ;
    }
}

@media screen and ( min-width: 900px ) {
    html {
        font-size: 60% ;
    }
}

@media screen and ( min-width: 1000px ) {
    html {
        font-size: 67.5% ;
    }
    .jauneBtn {
        padding: 1.5em ;
    }
}

@media screen and ( min-width: 1350px ) {
    html {
        font-size: 90% ;
    }
}